<div class='desktop-1'>
  <div class='desktop-1-child'>
    <b class='ci-t1'>Cài đặt đề thi</b>
  </div>

  <form class='group-container' method="POST" action="/settings" name="settings-form">
    {{!-- Test content --}}
    <div class='subcontent'>
      <div class='title'>
        <b class='subtitle'>Kiến thức Toán 9</b>
        <div class='arrowicon'> <img alt='' src='/images/arrow-1.svg' /></div>
      </div>
      <div class='subct'>
        {{#each domains}}
          <div class="subhk">
            <div class='subtitlehk'>
              <div class='ct'>
                <input type="checkbox" name="domains">Học kì {{increaseIndex @index}}
              </div>
              <div class='arrowicon'>
                <img src="/images/arrow-1.svg" alt="">
              </div>
            </div>
            <div class="cthk">
              {{#each this}}
                <div class="subloai">
                  <div class="ttctloai">
                    <div class="ttloai">
                      <input type="checkbox" name="domains">{{#if @index}}Hình học{{else}}Đại số{{/if}}
                    </div>
                    <div class="arrowicon">
                      <img src="/images/arrow-1.svg" alt="">
                    </div>
                  </div>
                  <div class="ctloai">
                    {{#each this}}
                      <div class="subchuong">
                        <div class="ttchuong">
                          <div class="ttctchuong">
                            <input type="checkbox" name="domains">Chương {{this.order}}: {{this.name}}
                          </div>
                          {{!-- <div class="ttctchuong">Chương {{this.order}}: {{this.name}}</div> --}}
                          <div class="arrowicon">
                            <img src="/images/arrow-1.svg" alt="">
                          </div>
                        </div>
                        <div class='ctchuong'>
                          {{#each this.lessons}}
                            <div class="ctent">
                              <div class="insubct">
                                <input type="checkbox" name="domains">Bài {{this.order}}: {{this.name}}
                              </div>
                            </div>
                          {{/each}}
                        </div>
                      </div>
                    {{/each}}
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>

    {{!-- Test length --}}
    <div class='subcontent'>
      <div class='title'>
        <b class='subtitle'>Số câu (10 - 50)</b>
        <input type="text" id="test-length" name="test-length">
      </div>
    </div>

    {{!-- Test duration --}}
    <div class='subcontent'>
      <div class='title'>
        <b class='subtitle'>Thời gian (phút)</b>
        <input type="text" id="test-duration" name="test-duration">
      </div>
    </div>

    {{!-- Test level --}}
    <div class='subcontent'>
      <div class='title'>
        <b class='subtitle'>Độ khó</b>
        {{#each testlevels}}
          <div class="ctent">
            <input type='radio' id={{@index}} name='test-level'>
            <label for={{@index}}>{{this.level}}</label>
          </div>
        {{/each}}
      </div>
    </div>

    {{!-- Submit button --}}
    {{!-- <div class='btnlambai'>
      <a href='/test' class='btnlb'>Bắt đầu làm bài</a>
    </div> --}}
    <input type="submit" class="btnlambai" value="Bắt đầu làm bài">
  </form>

</div>
<div class='foot'>
  <div class='left'>
    <div class='image-1-parent1'>
      <img class='image-1-icon3' alt='' src='/images/image-11@2x.png' />

      <div class='vi5-research-group-container6'>
        <span class='vi5-research-group-container7'>
          <p class='vi5-research3'>Vi5 Research</p>
          <p class='vi5-research3'>Group</p>
        </span>
      </div>
    </div>
    <div class='cho-mng-bn1'>
      Chào mừng bạn đến với trang web trắc nghiệm môn Toán 9 của Vi5 Research
      Group! Chúng tôi cung cấp các bài trắc nghiệm chất lượng để giúp hệ thống
      lại kiến thức toán của bạn một cách dễ dàng và thú vị. Khám phá ngay để
      nâng cao kỹ năng toán học của bạn
    </div>
  </div>
  <div class='mid'>
    <b class='a-ch1'>Địa chỉ</b>
    <div class='diachi'>
      <img
        class='maps-and-flags-1-icon1'
        alt=''
        src='/images/mapsandflags-1@2x.png'
      />
      <div class='an-dng-vng1'>
        280 An Dương Vương, Phường 4, Quận 5, Thành phố Hồ Chí Minh
      </div>
    </div>
    <div class='map'>
      <iframe
        src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6506734183176!2d106.679596273868!3d10.761382589386463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1b888ab357%3A0xc469f6e800231314!2zMjgwIMSQLiBBbiBExrDGoW5nIFbGsMahbmcsIFBoxrDhu51uZyA0LCBRdeG6rW4gNSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1701953019509!5m2!1svi!2s'
        width='400'
        height='250'
        style='border:0;'
        allowfullscreen=''
        loading='lazy'
        referrerpolicy='no-referrer-when-downgrade'
      ></iframe>
    </div>
  </div>
  <div class='right'>
    <b class='lin-h1'>Liên hệ</b>
    <div class='facebook-1-group'>
      <img class='facebook-1-icon1' alt='' src='/images/facebook-1@2x.png' />

      <div class='facebook1'>Facebook</div>
    </div>
  </div>
</div>
<div class='copyrights-20231'>
  Copyrights © 2023 by Vi5 Research Group
</div>