<div class='desktop-4-child'>
  <div class='logo'> <img src='/images/logo.png' alt='logo' /></div>
  <b class='kt-qu-nh1'>Kết quả đánh giá</b>
</div>
<div class='desktop-4'>
  <div class='btn'>
    <div class='kq'>
      <div class='kt-qu1'>Kết quả</div>
    </div>
    <div class='dg'>
      <div class='nh-gi1'>Đánh giá</div>
    </div>
  </div>

  <div class='modalkq'>
    <div class='desktop-4-inner'></div>
    <div class='title'>
      <div class="s-cu-lm">Số câu đã làm: {{doneLength}}/{{length}}</div>
      <div class='s-cu-lm'>Số câu làm đúng: {{correctCount}}/{{length}}</div>
      <div class='im-s'>Điểm số: {{grade}}/10.0</div>
    </div>
    <div class='content'>
      {{#each questions}}
        <div class='cauhoi'>
          <div class='p-n'><u>Câu {{increaseIndex @index}}:</u> {{this.questionContent}}</div>
          <p {{#if this.choices.0.isCorrect}}class="correct-answer"{{/if}}>A. {{this.choices.0.answerContent}}</p>
          <p {{#if this.choices.1.isCorrect}}class="correct-answer"{{/if}}>B. {{this.choices.1.answerContent}}</p>
          <p {{#if this.choices.2.isCorrect}}class="correct-answer"{{/if}}>C. {{this.choices.2.answerContent}}</p>
          <p {{#if this.choices.3.isCorrect}}class="correct-answer"{{/if}}>D. {{this.choices.3.answerContent}}</p>
          {{!-- <label><input type='radio' name='cau1' />A. &lt;...&gt;</label>
          <label><input type='radio' name='cau1' />B. &lt;...&gt;</label>
          <label><input type='radio' name='cau1' />C. &lt;...&gt;</label>
          <label><input type='radio' name='cau1' />D. &lt;...&gt;</label> --}}
          {{!-- <div class='p-n'>Đáp án: </div> --}}
        </div>
      {{/each}}
      {{!-- <div class='cauhoi'>
        <div class='p-n'>Câu 2: &lt;...&gt;</div>
        <label><input type='radio' name='cau2' />A. &lt;...&gt;</label>
        <label><input type='radio' name='cau2' />B. &lt;...&gt;</label>
        <label><input type='radio' name='cau2' />C. &lt;...&gt;</label>
        <label><input type='radio' name='cau2' />D. &lt;...&gt;</label>
        <div class='p-n'>Đáp án: &lt;...&gt;</div>
      </div>
      <div class='cauhoi'>
        <div class='p-n'>Câu 3: &lt;...&gt;</div>
        <label><input type='radio' name='cau3' />A. &lt;...&gt;</label>
        <label><input type='radio' name='cau3' />B. &lt;...&gt;</label>
        <label><input type='radio' name='cau3' />C. &lt;...&gt;</label>
        <label><input type='radio' name='cau3' />D. &lt;...&gt;</label>
        <div class='p-n'>Đáp án: &lt;...&gt;</div>
      </div>
      <div class='cauhoi'>
        <div class='p-n'>Câu 4: &lt;...&gt;</div>
        <label><input type='radio' name='cau4' />A. &lt;...&gt;</label>
        <label><input type='radio' name='cau4' />B. &lt;...&gt;</label>
        <label><input type='radio' name='cau4' />C. &lt;...&gt;</label>
        <label><input type='radio' name='cau4' />D. &lt;...&gt;</label>
        <div class='p-n'>Đáp án: &lt;...&gt;</div>
      </div>
      <div class='cauhoi'>
        <div class='p-n'>Câu 5: &lt;...&gt;</div>
        <label><input type='radio' name='cau5' />A. &lt;...&gt;</label>
        <label><input type='radio' name='cau5' />B. &lt;...&gt;</label>
        <label><input type='radio' name='cau5' />C. &lt;...&gt;</label>
        <label><input type='radio' name='cau5' />D. &lt;...&gt;</label>
        <div class='p-n'>Đáp án: &lt;...&gt;</div>
      </div> --}}
    </div>
  </div>
  <div class='modaldg'>
    <div class='desktop-4-inner'></div>
    <div class='title'>
      <div class='cc-ni-dung'>Các nội dung kiến thức làm sai:</div>
    </div>
    <div class='content'>
      {{#each knowledges}}
        <div class="ndungsai">
          <p>{{increaseIndex @index}}/ {{this.name}}</p>
          <div class="causai ">
            {{#each this.content}}
              <p>{{this}}</p>
            {{/each}}
          </div>
        </div>
      {{/each}}

      {{!-- <div class='ndungsai'>
        <div  class='detail'>
          1/ &lt;...&gt; (bài &lt;...&gt;, chương &lt;...&gt;, phần &lt;...&gt;,
          học kì &lt;...&gt;)
        </div>
        <div class='causai'>
          <div class='title'>
            <div class='subtitle'>Câu &lt;...&gt;</div>
            <div class='arrowicon'>
              <img alt='' src='/images/arrow-1.svg' /></div>
          </div>
          <div class='ndung'>
            <p class='cu-hi'>&lt;Câu hỏi&gt;</p>
            <p class='cu-hi'>&lt;Đáp án: nội dung câu trả lời&gt;</p>
          </div>
        </div>
        <div class='causai'>
          <div class='title'>
            <div class='subtitle'>Câu &lt;...&gt;</div>
            <div class='arrowicon'>
              <img alt='' src='/images/arrow-1.svg' /></div>
          </div>
          <div class='ndung'>
            <p class='cu-hi'>&lt;Câu hỏi&gt;</p>
            <p class='cu-hi'>&lt;Đáp án: nội dung câu trả lời&gt;</p>
          </div>
        </div>
      </div> --}}
      {{!-- <div class='ndungsai'>
        <div class='detail'>
          2/ &lt;...&gt; (bài &lt;...&gt;, chương &lt;...&gt;, phần &lt;...&gt;,
          học kì &lt;...&gt;)
        </div>
        <div class='causai'>
          <div class='title'>
            <div class='subtitle'>Câu &lt;...&gt;</div>
            <div class='arrowicon'>
              <img alt='' src='/images/arrow-1.svg' /></div>
          </div>
          <div class='ndung'>
            <p class='cu-hi'>&lt;Câu hỏi&gt;</p>
            <p class='cu-hi'>&lt;Đáp án: nội dung câu trả lời&gt;</p>
          </div>
        </div>
        <div class='causai'>
          <div class='title'>
            <div class='subtitle'>Câu &lt;...&gt;</div>
            <div class='arrowicon'>
              <img alt='' src='/images/arrow-1.svg' /></div>
          </div>
          <div class='ndung'>
            <p class='cu-hi'>&lt;Câu hỏi&gt;</p>
            <p class='cu-hi'>&lt;Đáp án: nội dung câu trả lời&gt;</p>
          </div>
        </div>
      </div>
      <div class='ndungsai'>
        <div class='detail'>
          1/ &lt;...&gt; (bài &lt;...&gt;, chương &lt;...&gt;, phần &lt;...&gt;,
          học kì &lt;...&gt;)
        </div>
        <div class='causai'>
          <div class='title'>
            <div class='subtitle'>Câu &lt;...&gt;</div>
            <div class='arrowicon'>
              <img alt='' src='/images/arrow-1.svg' /></div>
          </div>
          <div class='ndung'>
            <p class='cu-hi'>&lt;Câu hỏi&gt;</p>
            <p class='cu-hi'>&lt;Đáp án: nội dung câu trả lời&gt;</p>
          </div>
        </div>
        <div class='causai'>
          <div class='title'>
            <div class='subtitle'>Câu &lt;...&gt;</div>
            <div class='arrowicon'>
              <img alt='' src='/images/arrow-1.svg' /></div>
          </div>
          <div class='ndung'>
            <p class='cu-hi'>&lt;Câu hỏi&gt;</p>
            <p class='cu-hi'>&lt;Đáp án: nội dung câu trả lời&gt;</p>
          </div>
        </div>
      </div> --}}
    </div>
  </div>
  <div class='btnback'>
    <a href='/settings' class='back'>Trở về</a>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // Get references to modal elements
    var modalKQ = document.querySelector('.modalkq')
    var modalDG = document.querySelector('.modaldg')

    // Get references to button elements
    var btnKQ = document.querySelector('.kq')
    var btnDG = document.querySelector('.dg')

    // Function to show modal
    const showModal = (modal) => {
      modal.style.display = 'block'
    }

    // Function to hide modal
    const hideModal = (modal) => {
      modal.style.display = 'none'
    }
    const updateButtonStyles = (clickedBtn, otherBtn) => {
      clickedBtn.classList.add('active-btn')
      otherBtn.classList.remove('active-btn')
    }

    // Show the "Kết quả" modal by default
    showModal(modalKQ)
    updateButtonStyles(btnKQ, btnDG)

    // Add click event listeners to buttons
    btnKQ.addEventListener('click', () => {
      showModal(modalKQ)
      hideModal(modalDG)
      updateButtonStyles(btnKQ, btnDG)
    })
    btnDG.addEventListener('click', () => {
      showModal(modalDG)
      hideModal(modalKQ)
      updateButtonStyles(btnDG, btnKQ)
    })

    // Close modal when clicking outside of it
    window.addEventListener('click', (event) => {
      if (event.target === modalKQ || event.target === modalDG) {
        hideModal(modalKQ)
        hideModal(modalDG)
      }
    })
  })
</script>