<div class='main'>
  <div class='title'>
    <b>Cài đặt đề thi</b>
  </div>
  <div class="container">
    <form method="POST" action="/test" name="settings-form" class="settings-form" onsubmit="return validateForm(event)">

      {{!-- Test domains --}}
      <div class="option">Kiến thức toán 9</div>
      {{#each domains}}
        <div class="option-domain semester">
          <input
            type="checkbox"
            name="test-domains"
            id="sem-{{increaseIndex @index}}"
            value="sem-{{increaseIndex @index}}"
            onclick="checkSemester(event.target)">
          <label for="sem-{{increaseIndex @index}}">
            Học kì {{increaseIndex @index}}
          </label>
        </div>
        {{#each this}}
          <div class="option-domain field">
            <input
              type="checkbox"
              name="test-domains"
              id="{{#if @index}}geom{{else}}alg{{/if}}-{{increaseIndex @../index}}"
              value="{{#if @index}}geom{{else}}alg{{/if}}-{{increaseIndex @../index}}"
              onclick="checkField(event.target)">
            <label for="{{#if @index}}geom{{else}}alg{{/if}}-{{increaseIndex @../index}}">
              {{#if @index}}Hình học{{else}}Đại số{{/if}}
            </label>
          </div>
          {{#each this}}
            <div class="option-domain chapter">
              <input
                type="checkbox"
                name="test-domains"
                id="{{#if @../index}}geom{{else}}alg{{/if}}-{{this.semester}}-chap-{{this.order}}"
                value="{{#if @../index}}geom{{else}}alg{{/if}}-{{this.semester}}-chap-{{this.order}}"
                onclick="checkChapter(event.target)">
              <label for="{{#if @../index}}geom{{else}}alg{{/if}}-{{this.semester}}-chap-{{this.order}}">
                Chương {{this.order}}: {{this.name}}
              </label>
            </div>
            {{#each this.lessons}}
              <div class="option-domain lesson">
                <input
                  type="checkbox"
                  name="test-domains"
                  id="{{#if @../../index}}geom{{else}}alg{{/if}}-{{../semester}}-chap-{{../order}}-lesson-{{this._id}}"
                  value="{{#if @../../index}}geom{{else}}alg{{/if}}-{{../semester}}-chap-{{../order}}-lesson-{{this._id}}"
                  onclick="checkLesson(event.target)">
                <label for="{{#if @../../index}}geom{{else}}alg{{/if}}-{{../semester}}-chap-{{../order}}-lesson-{{this._id}}">
                  Bài {{this.order}}: {{this.name}}
                </label>
              </div>
            {{/each}}
          {{/each}}
        {{/each}}
      {{/each}}

      {{!-- Test length --}}
      <div class="option">Số câu hỏi</div>
      <div class="option-length">
        <input type="number" name="test-length" id="test-length" min=10 max=50 value=10>
        <span>(giới hạn: 10 - 50 câu)</span>
      </div>

      {{!-- Test level --}}
      <div class="option">Độ khó</div>
      <div class="option-level">
        {{#each testlevels}}
          <input type="radio" name="test-level" id="{{this._id}}" value="{{this._id}}">
          <label for="{{this._id}}">{{this.level}}</label>
        {{/each}}
      </div>

      {{!-- Test duration --}}
      <div class="option">Thời gian</div>
      <div class="option-duration">
        <input type="number" name="test-duration" id="test-duration" min=10 max=180 value=10>
        <span>(giới hạn: 10 - 180 phút)</span>
      </div>

      {{!-- Submit button --}}
      <input type="submit" class="btn-start" value="Bắt đầu làm bài">
    </form>
  </div>
</div>

<script>
  const checkSemester = (e) => {
    // sem-<sem>
    const sem = e.id.split('-').pop()
    let alg = document.getElementById(`alg-${sem}`)
    let geom = document.getElementById(`geom-${sem}`)
    alg.checked = !alg.checked
    geom.checked = !geom.checked
    checkField(alg)
    checkField(geom)
  }
  const checkField = (e) => {
    // alg-<sem>
    let temp_chapters = document.querySelectorAll(`[id^="${e.id}-chap-"]`)
    let chapters = []
    temp_chapters.forEach(chapter => {
      if (chapter.id.length <= 13) {
        chapters.push(chapter)
      }
    })
    chapters.forEach(chapter => {
      chapter.checked = !chapter.checked
      checkChapter(chapter)
    })
  }
  const checkChapter = (e) => {
    // alg-<sem>-chap-<chapter>
    let lessons = document.querySelectorAll(`[id^="${e.id}-lesson-"]`)
    lessons.forEach(lesson => { lesson.checked = !lesson.checked })
  }
  const checkLesson = (e) => {
    // alg-<sem>-chap-<chapter>-lesson-<lesson>
    //const lesson = e.id.split('-')

  }
  const validateForm = (e) => {
    const settingsForm = document.forms["settings-form"]
    if (settingsForm["test-length"].value === '' || settingsForm["test-duration"].value === '') {
      alert('Invalid settings!')
      e.preventDefault()
      return
    }
    const domains = settingsForm["test-domains"]
    let domainChecked = false
    for (let i = 0; i < domains.length; i++) {
      if (domains[i].checked) {
        domainChecked = true
        break
      }
    }
    if (!domainChecked) {
      alert('Invalid settings!')
      e.preventDefault()
      return
    }
    const levels = settingsForm["test-level"]
    let levelChecked = false
    for (let i = 0; i < levels.length; i++) {
      if (levels[i].checked) {
        levelChecked = true
        break
      }
    }
    if (!levelChecked) {
      alert('Invalid settings!')
      e.preventDefault()
    }
  }
</script>

{{!-- <div class='foot'>
  <div class='left'>
    <div class='image-1-parent1'>
      <img class='image-1-icon3' alt='' src='/images/image-11@2x.png' />

      <div class='vi5-research-group-container6'>
        <span class='vi5-research-group-container7'>
          <p class='vi5-research3'>Vi5 Research</p>
          <p class='vi5-research3'>Group</p>
        </span>
      </div>
    </div>
    <div class='cho-mng-bn1'>
      Chào mừng bạn đến với trang web trắc nghiệm môn Toán 9 của Vi5 Research
      Group! Chúng tôi cung cấp các bài trắc nghiệm chất lượng để giúp hệ thống
      lại kiến thức toán của bạn một cách dễ dàng và thú vị. Khám phá ngay để
      nâng cao kỹ năng toán học của bạn
    </div>
  </div>
  <div class='mid'>
    <b class='a-ch1'>Địa chỉ</b>
    <div class='diachi'>
      <img
        class='maps-and-flags-1-icon1'
        alt=''
        src='/images/mapsandflags-1@2x.png'
      />
      <div class='an-dng-vng1'>
        280 An Dương Vương, Phường 4, Quận 5, Thành phố Hồ Chí Minh
      </div>
    </div>
    <div class='map'>
      <iframe
        src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6506734183176!2d106.679596273868!3d10.761382589386463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1b888ab357%3A0xc469f6e800231314!2zMjgwIMSQLiBBbiBExrDGoW5nIFbGsMahbmcsIFBoxrDhu51uZyA0LCBRdeG6rW4gNSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1701953019509!5m2!1svi!2s'
        width='400'
        height='250'
        style='border:0;'
        allowfullscreen=''
        loading='lazy'
        referrerpolicy='no-referrer-when-downgrade'
      ></iframe>
    </div>
  </div>
  <div class='right'>
    <b class='lin-h1'>Liên hệ</b>
    <div class='facebook-1-group'>
      <img class='facebook-1-icon1' alt='' src='/images/facebook-1@2x.png' />

      <div class='facebook1'>Facebook</div>
    </div>
  </div>
</div>
<div class='copyrights-20231'>
  Copyrights © 2023 by Vi5 Research Group
</div> --}}