<div class='main'>
  <div class='title'>
    <b>Thi trắc nghiệm</b>
  </div>
  <div class="container">
    <div class="left-column">
      <div class="duration">
        Thời gian còn lại
        <div id="timer">{{duration}}:00</div>
      </div>
      {{!-- <div class="questions-table" id="questions-table">
        {{createQuestionsTable length}}
      </div> --}}
    </div>
    <div class="right-column">
      <form method="POST" action="/result" name="test-form" class="test-form" onsubmit="return validateForm(event)">
        <div class="question">
          {{#each questions}}
            
              <p><span style="text-decoration: underline;">Câu {{increaseIndex @index}}:</span> {{this.questionContent}}</p>
              {{#if this.image}}
                <div class="question-img">
                  <img src="{{this.image}}">
                </div>
              {{/if}}

              <div class="answer">
                <input type="radio"
                  name="q-{{this._id}}"
                  id="q-{{this._id}}-0"
                  value="q-{{this._id}}-0">
                <label for="q-{{this._id}}-0">
                  A. {{this.choices.0.answerContent}}
                </label>

                {{#if this.choices.0.image}}
                  <div class="answer-img">
                    <img src="{{this.choices.0.image}}" alt="">
                  </div>
                {{/if}}
              </div>
              
              <div class="answer">
                <input type="radio"
                  name="q-{{this._id}}"
                  id="q-{{this._id}}-1"
                  value="q-{{this._id}}-1">
                <label for="q-{{this._id}}-1">
                  B. {{this.choices.1.answerContent}}
                </label>
              </div>

              <div class="answer">
                <input type="radio"
                  name="q-{{this._id}}"
                  id="q-{{this._id}}-2"
                  value="q-{{this._id}}-2">
                <label for="q-{{this._id}}-2">
                  C. {{this.choices.2.answerContent}}
                </label>
              </div>

              <div class="answer">
                <input type="radio"
                  name="q-{{this._id}}"
                  id="q-{{this._id}}-3"
                  value="q-{{this._id}}-3">
                <label for="q-{{this._id}}-3">
                  D. {{this.choices.3.answerContent}}
                </label>
              </div>

              {{!-- {{#each this.choices}}
                <input type="radio"
                  name="q-{{increaseIndex @../index}}"
                  id="q-{{increaseIndex @../index}}-{{@index}}"
                  value="q-{{increaseIndex @../index}}-{{@index}}">
                <label for="q-{{increaseIndex @../index}}-{{@index}}">
                  {{answers[@index]}}. {{this.answerContent}}
                </label>
              {{/each}} --}}
          {{/each}}
        </div>

        <input type="hidden" name="length" value={{length}}>

        <input type="submit" class="btn-test" value="Nộp bài">
        <button type="button" class="btn-test">
          <a href="/settings">Thoát</a>
        </button>
      </form>
    </div>
  </div>
</div>

<script>
  // document.getElementById('questions-table').innerHTML = "{{createQuestionsTable length}}"
  // console.log({{createQuestionsTable length}})

  // Timer
  var timeLimitInMinutes = {{duration}};
  var timeLimitInSeconds = timeLimitInMinutes * 60;
  var timerElement = document.getElementById('timer');
  var timerInterval = setInterval(() => {
    timeLimitInSeconds--;
    var minutes = Math.floor(timeLimitInSeconds / 60);
    var seconds = timeLimitInSeconds % 60;
    if (timeLimitInSeconds < 0) {
      timerElement.textContent = '00:00';
      clearInterval(timerInterval);
      return;
    }
    if (minutes < 10) {
      minutes = '0' + minutes;
    }
    if (seconds < 10) {
      seconds = '0' + seconds;
    }
    timerElement.textContent = minutes + ':' + seconds;
  }, 1000);

  const validateForm = (e) => {

  }
  
  const evaluateTest = () => {
    // "q-{{increaseIndex @../index}}-{{@index}}
    // q-1-0 , q-1-1 , q-1-2 , q-1-3 , q-2-0
    // {{questions}}
    const checkedRadios = document.querySelectorAll('input[type="radio"]:checked')
    const pickedAnswers = Array.from(checkedRadios, radio => radio.value)
    pickedAnswers.forEach(answer => {
      const thisAnswer = answer.split('-')
      const q = thisAnswer[1]
      const a = thisAnswer[2]
    })
  }

</script>